{% extends 'navigation.html'  %}
{% block body %}
<div><h1 align="center" style="color:white">About ChatBot</h1></div><hr>
<center><div class="jumbotron" style="width:90%;margin-top:5%" align="center">
<div class="row">
    <div class="col-md-3">
    <img width="97%" src="/static/images/chatbot1.jpg"/>
    </div>
    <div class="col-md-9">
        <p style="font size:20px">A chatbot is a computer program that simulates
            human conversation through voice commands or text chats or both.
            Chatbot, short for chatterbot, is an Artificial Intelligence (AI) feature that
            can be embedded and used through any major messaging applications.</p>

        <p style="font size:20px">A chatbot is an artificial intelligence (AI)
            software that can simulate a conversation (or a chat) with a user in natural
            language through messaging applications, websites, mobile apps or through the telephone</p>
    </div>
</div>
</div></center>
<div class=container-fluid>
<h2 class="text-center" style = "background-color : black ; color : white">Copyright &copy; 2020 , Designed And Developed By Pankaj Panjwani</h2>
</div>

{% endblock %}